<!-- TODO -->
<!-- <ng-template #toastContainer></ng-template> -->

<mat-sidenav-container class="example-container">
  <mat-sidenav
    #sidenav
    position="end"
    [mode]="mode.value || 'over'"
    (openedStart)="onSidenavOpen()"
  >
    <div class="sidenav-buttons">
      <crown-todo-container></crown-todo-container>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <crown-nav (toggle)="sidenav.toggle()"></crown-nav>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
