<!-- TODO -->
<ng-template #toastContainer></ng-template>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #menuSidenav [mode]="menuMode.value || 'over'">
    
    <crown-navigation
      (toggleMenu)="toggleMenu()"
      (toggle)="toggleTodos()"
    ></crown-navigation>
  </mat-sidenav>

  <mat-sidenav
    #todoSidenav
    position="end"
    [mode]="todoMode.value || 'over'"
    (openedStart)="toggleMenu()"
  >
    <div class="sidenav-buttons">
      <crown-todo-container></crown-todo-container>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <crown-main-toolbar
      (toggle)="todoSidenav.toggle()"
      (toggleMenu)="toggleMenu()"
    ></crown-main-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
