@import '@colors';

.wrapper {
  margin: 10px;
}

// mat-sidenav {
  //   width: 250px;
  // }

  .sidenav-container {
  background-color: $demo-primary-background;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .sidenav-todos {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

.toast-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1050;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
}
