/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  background-color:rgba(245, 245, 220, 0.568);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  // margin-top: 5px;
  color: #ddd;
  font-size: 0.85em;
}

.divider:before,
.divider:after {
  content: '';
  flex: 1;
  height: 1px;
  background: #ddd;
  margin: 0 10px;
}

// #toastContainer {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: 10000; /* Ensure this is higher than other elements */
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   pointer-events: none;
// }

// .toast {
//   pointer-events: auto;
//   margin-top: 10px;
//   /* Add additional styling for the toast */
// }

.toast-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1050; /* High enough to be above other elements */
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
}

.toast {
  pointer-events: auto;
  margin-top: 10px;
  /* Additional toast styling */
}
