@import '@colors';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  font-size: 18px;
  color: $demo-danger;

  .title {
    font-size: 30px;
    color: $black;
  }

  .info {
    padding: 40px 0;
    display: flex;
    flex-direction: column;

    a {
      background-color: $demo-accent1;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .highlight {
      margin: 10px 0;
      width: auto;
      text-align: center;
    }

    border: 1px solid $blue;
    border-radius: 10px;
    padding: 15px;


  }

  mat-expansion-panel {
    margin: 25px 0;
  }

  .tutorial {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
  }
}
