$demo-primary-background: #d8d5cd;
$demo-basic: #f4ffff;
$demo-primary-0: #ffffff;
$demo-primary: #fbe6bf;
$demo-secondary: #ffb591;
$demo-accent1: #92cbf3;
$demo-accent2: #ffb391;
$demo-danger: #102839af;
$demo-danger2: #10283994;

$danger: $demo-danger;
$warning: $demo-accent2; // salmon-ish;
$success: $demo-primary;

$disabled: $demo-primary-background;

// colors - to check
$black: #000;
$white: #fff;
// $success: #2aaba0;
$error: red;
$warn: #b20909;
$warn-light: #ff7c02;
$warn-lighter: #ffb302;
$blue: #009ee6;
$dark-blue: #2f3291;
$dark-blue2: #3f51b5;
$grey: rgba(0, 0, 0, 0.6);

// palettes
$row1: #e1e4e6;
$row2: #b4bac1;
$row3: #828d98;
$row4: #505f6f;
$row5: #2b3c50;

$row6: #e0eff7;
$row7: #b3d8ec;
$row8: #80bedf;
$row9: #4da3d2;

$row10: #e5f5f4;
$row11: #bfe6e3;
$row12: #95d5d0;
$row13: #6ac4bd;
$row14: #4ab8ae;
$row15: #2aaba0;

$warn-light50: #fff6e1;
$warn-light100: #ffe8b3;
$warn-light200: #ffd981;
$warn-light300: #ffca4e;
$warn-light400: #ffbe28;
$warn-light500: #ffb302;
$warn-light600: #ffac02;
$warn-light700: #ffa301;
$warn-light800: #ff9a01;
$warn-light900: #ff8b01;
$warn-lightA100: #fff;
$warn-lightA200: #fff9f2;
$warn-lightA400: #ffdfbf;
$warn-lightA700: #ffd2a6;

$demo-primary-background: $warn-light50;

$warn-50: #f6e1e1;
$warn-100: #e8b5b5;
$warn-200: #d98484;
$warn-300: #c95353;
$warn-400: #be2e2e;
$warn-500: #b20909;
$warn-600: #ab0808;
$warn-700: #a20606;
$warn-800: #990505;
$warn-900: #8a0202;
$warn-A100: #ffb6b6;
$warn-A200: #ff8383;
$warn-A400: #ff5050;
$warn-A700: #ff3636;

$success50: #e5f5f4;
$success100: #bfe6e3;
$success200: #95d5d0;
$success300: #6ac4bd;
$success400: #4ab8ae;
$success500: #2aaba0;
$success600: #25a498;
$success700: #1f9a8e;
$success800: #199184;
$success900: #0f8073;
$successA100: #b3fff5;
$successA200: #80ffee;
$successA400: #4dffe8;
$successA700: #33ffe5;

$accent50: #e0eff7;
$accent75: #c9e3f1;
$accent100: #b3d8ec;
$accent200: #80bedf;
$accent300: #4da3d2;
$accent400: #2690c9;
$accent500: #007cbf;
$accent600: #0074b9;
$accent700: #0069b1;
$accent800: #005fa9;
$accent900: #004c9b;
$accentA100: #c6deff;
$accentA200: #93c0ff;
$accentA400: #60a3ff;
$accentA700: #4794ff;

$active-tab: $white;

$inactive-tab: $row1;

:root {
  // chart colors palette:
  --red: #ff3b30;
  --orange: #ff9500;
  --yellow: #ffcc00;
  --lime: #cddc39;
  --green: #4caf50;
  --mint: #00e676;
  --teal: #009688;
  --cyan: #00bcd4;
  --lightBlue: #03a9f4;
  --blue: #2196f3;
  --indigo: #3f51b5;
  --deepPurple: #673ab7;
  --purple: #9c27b0;
  --pink: #e91e63;
  --hotPink: #ff2d55;
  --warmGray: #bcaaa4;
  --gray: #9e9e9e;
  --coolGray: #607d8b;
  --brown: #795548;
  --burgundy: #7b1fa2;
  --olive: #808000;
  --beige: #f5f5dc;
  --coral: #ff7f50;
  --navy: #000080;
  --maroon: #800000;
  --lightGreen: #90ee90;
  --turquoise: #40e0d0;
  --skyBlue: #87ceeb;
  --gold: #ffd700;
  --plum: #dda0dd;
}
