// $primary-color: #ff5733;
// $secondary-color: #3333ff;
// $background-color: #f0f0f0;

$demo-primary-background: #d8d5cd;
$demo-basic: #f4ffff;
$demo-primary: #fbe6bf;
$demo-secondary: #ffb591;
$demo-accent1: #92cbf3;
$demo-accent2: #ffb391;
$demo-danger: #102839;
